@import '../partial/variable';
@import '../partial/mixin';
@import '../partial/modals';
@import '../partial/checkbox';
@import '../partial/uploader';

.course_detail_main_field {
    width: $conteiner;
    display: flex;
    text-align: right;
    direction: rtl;
    margin: 50px auto;

    .right_field {
        border-radius: 10px;
        width: 100%;
        padding: 40px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        h1 {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 40px;
            line-height: 40px;
        }

        .h_iframe-aparat_embed_frame {
            position: relative;
        }

        .h_iframe-aparat_embed_frame .ratio {
            display: block;
            width: 100%;
            height: auto;
        }

        .h_iframe-aparat_embed_frame iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        iframe {
            border: 0;
            border-radius: 10px;
        }

        .about_course {
            font-weight: bold;
            font-size: 1.2rem;
            margin: 50px 0px 30px 0px;
        }

        .AC_text {
            width: 100%;
            color: rgb(77, 77, 77) !important;
            line-height: 28px !important;
            text-align: justify;

            p {
                line-height: 30px;
            }
        }

        .main_title {
            font-weight: bold;
            font-size: 1.2rem;
            margin: 50px 0px 30px 0px;
        }

        .course_sessions_field {
            width: 100%;
            padding: 0px 20px;
            background-color: #F7F8FD;
            border-radius: 10px;
            margin-top: 15px;

            .CSF_S_field {
                display: none;
                padding-bottom: 10px;

                &.active {
                    display: block;
                }
            }

            h3 {
                font-size: 1.3rem;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0;
                padding: 20px 0px;
                cursor: pointer;

                i {
                    color: rgb(126, 126, 126);
                    font-size: 1.2rem;
                    @include transition(0.2s, linear, 0s);
                }
            }

            .sessions_field {
                margin-bottom: 10px;

                .session_row {
                    width: 100%;
                    border: 1px solid #DDE1E3;
                    border-radius: 5px;
                    padding: 10px 15px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: white;
                    position: relative;

                    .session_info {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        p {
                            padding: 5px 13px;
                            color: rgb(71, 71, 71);
                            font-size: 0.9rem;
                            margin-bottom: 0;

                            &:nth-child(1) {
                                line-height: 27px;
                            }

                            &:last-child {
                                color: rgb(76, 201, 76);
                                min-width: max-content;
                                font-size: 1.2rem;
                            }

                            &:nth-child(2) {
                                color: rgb(146, 146, 146);
                                min-width: max-content;
                                border: 1px solid rgb(216, 216, 216);
                                border-top: 0;
                                border-bottom: 0;
                            }
                        }
                    }

                    .session_act {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        a {
                            background-color: white;
                            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                            border-radius: 50px;
                            width: 40px;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 10px;
                            font-size: 1.1rem;

                            &.play_video {
                                color: #4DD9C2;
                            }

                            &.download {
                                color: $main_color;
                            }

                        }

                        button {
                            background-color: white;
                            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                            border-radius: 50px;
                            width: 40px;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 10px;
                            border: 0;
                            font-size: 1.1rem;

                            &.homework {
                                color: #CBCBCB;
                            }

                            &.exam {
                                color: #ffcf94;
                            }

                            &.upload {
                                color: $main_color;
                            }
                        }
                    }
                }
            }

        }

        .comments {
            width: 100%;

            form {
                width: 100%;

                .form_group {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                }

                .btn_group {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    button {
                        background-color: $main_color;
                        color: white;
                        border: 0;
                        padding: 7px 15px;
                        border-radius: 5px;
                        @include transition(0.1s, linear, 0s);

                        &:hover {
                            background-color: $MC_hover;
                        }
                    }
                }
            }

            .user_comments {
                width: 100%;
                margin-top: 20px;

                &.master_reply {
                    background-color: #F6F6F6;
                    border-radius: 5px;
                    padding: 15px;
                }


                .user_info {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    .user_image {
                        width: 70px;
                        height: 70px;
                        border-radius: 50px;
                        border: 3px solid $main_color;
                        margin-left: 15px;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                    div {
                        p {
                            font-weight: bold;
                            font-size: 1rem;
                            margin-bottom: 8px;
                        }

                        span {
                            color: rgb(196, 196, 196);
                            font-size: 0.9rem;
                        }
                    }

                }

                .user_comment_content {
                    width: 100%;
                    text-align: justify;
                    line-height: 28px;
                    margin-top: 15px;
                    font-size: 0.9rem;
                }
            }
        }
    }

    .left_field {
        width: 400px;
        margin-right: 20px;

        .course_info {
            width: 100%;
            padding: 15px;
            border-radius: 10px;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            margin-top: 20px;
            position: sticky;
            top: 90px;
            direction: rtl;
            text-align: right;

            .course_price {
                color: #878787;
                font-size: 0.9rem;
                border-bottom: 1px solid rgb(231, 231, 231);
                padding-bottom: 15px;
                margin-bottom: 15px;

                div {

                    display: flex;
                    align-items: center;
                }

                &.sale_on {

                    .sale_price {
                        width: 100%;
                        display: block;
                        text-align: center;
                        font-size: 1.5rem;
                        margin-top: 10px;
                    }

                    .price {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $red_price;

                        span {
                            color: $red_price;
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            right: 0;
                            width: 100%;
                            height: 1px;
                            background-color: $red_price;
                        }
                    }
                }

                span {
                    color: $green_price;
                    margin-right: 3px;
                    font-size: 1.3rem;

                    span {
                        font-size: 0.9rem;
                        margin: 0;
                    }
                }

                i {
                    color: $green_price;
                    margin-left: 10px;
                }
            }

            .course_details {
                div {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;

                    p {
                        margin: 0;
                        font-size: 0.9rem;
                        color: rgb(150, 150, 150);

                        span {
                            color: rgb(49, 49, 49);
                        }
                    }

                    i {
                        margin-left: 10px;
                        font-size: 1.1rem;
                        color: #B0B9BE;
                    }
                }
            }

            a {
                width: 100%;
                background-color: $green_price;
                color: white;
                padding: 5px 0px;
                text-align: center;
                display: block;
                border-radius: 5px;
                @include transition(0.1s, linear, 0s);

                &:hover {
                    background-color: #42a70c;
                }
            }
        }

        .offers {
            width: 100%;
            padding: 15px;
            border-radius: 10px;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

            h3 {
                color: rgb(90, 90, 90);
                font-size: 1rem;
            }

            ul {
                list-style-type: none;
                padding: 0;
                margin-top: 20px;

                li {
                    a {
                        width: 100%;
                        display: block;
                        margin-bottom: 15px;
                        line-height: 26px;
                        color: #666666;
                        font-size: .85rem;
                        padding-right: 25px;
                        position: relative;
                        display: flex;
                        align-content: center;
                        @include transition(0.1s, linear, 0s);

                        &:hover {
                            color: rgb(39, 39, 39);

                            &::after {
                                background-color: $main_color;
                            }
                        }

                        &:after {
                            @include transition(0.1s, linear, 0s);
                            content: "";
                            height: 8px;
                            width: 8px;
                            position: absolute;
                            right: 7px;
                            border: 1px solid $main_color;
                            border-radius: 50px;
                            top: 10px;
                        }
                    }
                }
            }
        }

        .master_question {
            width: 100%;
            text-align: center;
            border-radius: 5px;
            display: block;
            width: 100%;
            text-align: center;
            border-radius: 5px;
            display: block;
            background-color: #0486ff;
            color: #ffffff;
            padding: 10px;
            font-size: 0.9rem;
            border: 0;
        }

        .forum {
            width: 100%;
            text-align: center;
            border-radius: 5px;
            display: block;
            background-color: #EB1460;
            color: white;
            padding: 10px;
            font-size: 0.9rem;
            margin: 20px 0px;
        }

        .pre_learn {
            width: 100%;
            padding: 15px;
            border-radius: 10px;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            margin-top: 20px;

            h3 {
                color: rgb(90, 90, 90);
                font-size: 1rem;
            }

            ul {
                list-style-type: none;
                padding-right: 25px;
                margin-top: 20px;

                li {
                    color: #8c8ba0;
                    font-size: 0.9rem;
                    margin-bottom: 10px;
                    position: relative;

                    &::after {
                        content: "";
                        width: 11px;
                        height: 3px;
                        background: #aeaeae52;
                        position: absolute;
                        right: -20px;
                        top: 11px;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}

.upload_modal {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    padding: 80px 0px;
    z-index: 99999;
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.445);
    display: none;

    .upload_content {
        width: 500px;
        padding: 25px 0px;
        background-color: white;
        margin: auto;
        border-radius: 7px;
        position: relative;

        .close_UM {
            border: 0;
            background-color: transparent;
            position: absolute;
            top: 25px;
            left: 33px;
            font-size: 1.5rem;
            color: #555;
        }

        .upload_field {
            padding: 0px 40px;

            form {

                width: 100%;
                direction: rtl;
                text-align: right;

                input[type=file] {
                    display: none;
                }

                button {
                    width: 100%;
                    background-color: $main_color;
                    color: white;
                    border-radius: 5px;
                    border: 0px;
                    padding: 10px 0px;
                    @include transition(0.1s, linear, 0s);

                    &:hover {
                        background-color: $MC_hover;
                    }
                }
            }
        }
    }
}

.exsm_modal {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    padding: 80px 0px;
    z-index: 99999;
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.445);
    overflow: auto;
    display: none;

    .exam_content {
        width: 1150px;
        padding: 25px 0px;
        background-color: white;
        margin: auto;
        border-radius: 7px;
        position: relative;

        .EM_close {
            position: absolute;
            left: 30px;
            top: 30px;
            background-color: transparent;
            border: 0;
            font-size: 1.4rem;
            color: #5c5c5c;
        }

        .exam_info {
            width: 100%;
            padding: 0px 40px;
            direction: rtl;
            text-align: right;

            .one_Q_field {
                margin-bottom: 40px;
                display: flex;
                flex-wrap: wrap;

                .exam_title {
                    text-align: justify;
                    line-height: 30px;
                    width: 100%;
                }
            }

            form {

                .exam_sub {
                    width: 100%;
                    display: flex;
                    align-content: center;
                    justify-content: flex-end;

                    button {
                        border: 0;
                        background: $main_color;
                        color: #fff;
                        padding: 10px 30px;
                        border-radius: 4px;
                        @include transition(0.1s, linear, 0s);

                        &:hover {
                            background-color: $MC_hover;
                        }
                    }
                }

                .cbx span:first-child {
                    min-width: 19px;
                    height: 19px;
                }

                .option {
                    width: 50%;
                    margin-bottom: 20px;

                    div {
                        display: flex;
                        align-items: center;

                        p {
                            min-width: 30px;
                            margin: 0;
                        }

                        label {
                            display: flex;
                            margin: 0;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                    .cbx {
                        span {
                            &:nth-child(2) {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.question_master_modal {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.473);
    padding: 50px 0px;
    position: fixed;
    overflow: auto;
    top: 0;
    z-index: 200;
    display: none;

    .close_QM {
        border: 0;
        background-color: transparent;
        position: absolute;
        top: 25px;
        left: 33px;
        font-size: 1.5rem;
        color: #555;
    }

    .QM_content {
        width: 500px;
        padding: 25px 0px;
        background-color: white;
        margin: auto;
        border-radius: 7px;
        position: relative;
    }

    .form_field {
        width: 100%;
        padding: 0px 40px;
        direction: rtl;
        text-align: right;

        .btn_group {
            width: 100%;

            button {
                border: 0;
                background: $main_color;
                color: #fff;
                padding: 10px 30px;
                border-radius: 4px;
                width: 100%;
                @include transition(0.1s, linear, 0s);

                &:hover {
                    background-color: $MC_hover;
                }
            }
        }
    }

}

.active_angle {
    @include transform(rotate(-90deg));
}

@media only screen and (max-width: 1200px) {

    .course_detail_main_field {
        width: $conteiner_M;
    }

    .course_detail_main_field .right_field .course_sessions_field .sessions_field .session_row {
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }

    .course_detail_main_field .right_field .course_sessions_field .sessions_field .session_row .session_act {
        margin-top: 10px;

        a,
        button {
            width: 35px;
            height: 35px;
            font-size: 1rem;
        }
    }

    .course_detail_main_field .right_field .AC_text {
        font-size: 0.9rem;
    }

    .course_detail_main_field .right_field h1 {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .course_detail_main_field .right_field .course_sessions_field .sessions_field .session_row .session_info p {
        padding: 5px 13px;
    }

    .exsm_modal .exam_content {
        width: 650px;
    }

}

@media only screen and (max-width: 880px) {

    .course_detail_main_field {
        width: 90%;
    }

    .course_detail_main_field .right_field {
        order: 2;
        padding: 20px;
    }

    .course_detail_main_field {
        width: 90%;
        flex-direction: column;
    }

    .course_detail_main_field .right_field .course_sessions_field .sessions_field .session_row {
        align-items: center;
        justify-content: space-between;
        flex-direction: unset;
    }

    .course_detail_main_field .right_field .course_sessions_field .sessions_field .session_row .session_act {
        margin-top: 0;
    }

    .course_detail_main_field .right_field .course_sessions_field .sessions_field .session_row .session_info p {
        padding: 5px 8px;
    }

    .course_detail_main_field .right_field .course_sessions_field .sessions_field .session_row .session_act a,
    .course_detail_main_field .right_field .course_sessions_field .sessions_field .session_row .session_act button {
        width: 30px;
        height: 30px;
        font-size: 0.9rem;
    }

    .course_detail_main_field .right_field .course_sessions_field .sessions_field .session_row .session_info p:nth-child(2) {
        font-size: 0.8rem;
    }

    .course_detail_main_field .right_field .course_sessions_field .sessions_field .session_row .session_info p:last-child {
        font-size: 0.8rem;
    }

    .course_detail_main_field .right_field .course_sessions_field h3 {
        font-size: 1.1rem;
    }

    .course_detail_main_field .left_field {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
        order: 1;
    }

}

@media only screen and (max-width: 700px) {

    .course_detail_main_field .right_field .course_sessions_field .sessions_field .session_row {
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }

    .course_detail_main_field .right_field .course_sessions_field .sessions_field .session_row .session_act {
        margin-top: 10px;
        width: 100%;
        justify-content: flex-end;
    }

    .exsm_modal .exam_content {
        width: 90%;
    }

}

@media only screen and (max-width: 550px) {

    .upload_modal .upload_content {
        width: 90%;
    }



}

@media only screen and (max-width: 500px) {

    .exsm_modal .exam_content .exam_info .one_Q_field .exam_title {
        font-size: 0.9rem;
        line-height: 27px;
    }

    .exsm_modal .exam_content .exam_info form .option {
        width: 100%;
    }

    .question_master_modal .QM_content {
        width: 90%;
    }

}

@media only screen and (max-width: 450px) {

    .course_detail_main_field .right_field .course_sessions_field .sessions_field .session_row .session_info {
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .course_detail_main_field .right_field .course_sessions_field .sessions_field .session_row .session_info p:nth-child(1) {
        line-height: 27px;
        width: 100%;
    }

    .course_detail_main_field .right_field .course_sessions_field .sessions_field .session_row .session_info p:nth-child(2) {
        border-right: 0;
    }

}

@media only screen and (max-width: 400px) {

    .course_detail_main_field .right_field h1 {
        font-size: 1.1rem;
        margin-bottom: 20px;
    }

    .course_detail_main_field .right_field .course_sessions_field {
        padding: 0px 10px;
    }

    .upload_modal .upload_content .upload_field {
        padding: 0px 20px;
    }

    .question_master_modal .form_field {
        padding: 0px 20px;
    }

}

@media only screen and (max-width: 370px) {

    .course_detail_main_field .right_field .comments .user_comments .user_info .user_image {
        border: 2px solid $main_color;
        width: 60px;
        height: 60px;
    }

    .course_detail_main_field .right_field .comments .user_comments .user_info div p {
        font-size: 0.9rem;
    }

    .course_detail_main_field .right_field .comments .user_comments .user_comment_content {
        line-height: 30px;
    }

}