@import '../partial/variable';
@import '../partial/mixin';
@import '../partial/navbar';
@import '../partial/footer';

@font-face {
    font-family: $MF;
    src: url(../../font/IRANYekanRegular.ttf);
}

@font-face {
    font-family: $LF;
    src: url(../../font/IRANYekanLight.ttf);
}

@font-face {
    font-family: $BF;
    src: url(../../font/IRANYekanExtraBold.ttf);
}

body {
    overflow-x: hidden;
    font-family: $MF;
    background-color: $body_background !important;
    padding-top: 65px;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

button:focus {
    outline: none;
    outline: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #ebebeb;
}

::-webkit-scrollbar-thumb {
    background: rgb(197, 197, 197);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 94, 129);
}

html {
    scroll-behavior: smooth;
}

:focus {
    outline: none;
}

input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    height: 40px;
    padding: 3px 16px;
    color: #353535;
    direction: rtl;
    text-align: right;

    &::placeholder {
        color: rgb(187, 187, 187);
        font-size: 0.9rem;
    }
}

p {
    color: #3b3b3b;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.form_group {
    margin-bottom: 25px;
    position: relative;
}

.main_sec_header {
    position: relative;
    direction: rtl;
    text-align: right;
    width: 100%;
    padding: 5px 20px;
    margin-bottom: 20px;

    h3 {
        font-weight: bold;
        font-size: 1.2rem;
        margin: 0;
        padding: 5px 0px;
    }

    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 7px;
        height: 100%;
        border-radius: 3px 0px 0px 3px;
        background-color: $main_color;
    }
}

textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    height: 150px;
    padding: 13px 16px;
    color: #353535;
    direction: rtl;
    text-align: right;
    font-size: 0.9rem;
    resize: none;
}

label {
    direction: rtl;
    text-align: right;
    color: rgb(105, 105, 105);
}

.text_limited {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

@media only screen and (max-width: 1200px) {
    .profile_temp .profile_content {
        padding: 30px !important;
    }
}

@media only screen and (max-width: 500px) {

    .profile_temp .profile_content {
        padding: 20px !important;
    }

    label {
        font-size: 0.9rem;
    }

    .main_sec_header h3 {
        font-size: 1.2rem;
    }

    input {
        font-size: 0.9rem;

        &::placeholder {
            font-size: 0.9rem;
        }
    }

    .login_modal .modal_field .modal_content .input_field .form_group i {
        font-size: 1.2rem;
    }

}

@media only screen and (max-width: 420px) {

    .profile_temp .profile_content .content_field .general_content {
        padding: 0px 25px;
    }

}