@import '../partial/variable';
@import '../partial/mixin';
@import '../partial/modals';

.main_arl {
    width: $conteiner;
    text-align: right;
    margin: 50px auto;
    direction: rtl;

    .card_parent {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .course_card {
            border-radius: 10px;
            overflow: hidden;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            height: 460px;
            background-color: #fff;
            width: 32%;
            margin-bottom: 2%;
            margin-left: 2%;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &:nth-child(3n) {
                margin-left: 0;
            }

            .card_img {
                width: 100%;
                height: 190px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            .card_content {
                padding: 30px;
                position: relative;

                .card_title {
                    font-size: 1.1rem;
                    font-weight: bold;
                    margin-bottom: 20px;
                }

                .card_short_exp {
                    font-size: .9rem;
                    color: #858585;
                    height: 100px;
                    margin-bottom: 20px;
                    text-align: justify;
                    line-height: 25px;
                }

                .card_detail {
                    display: flex;
                    align-items: center;
                    color: #bababa;

                    div {
                        margin-left: 10px;
                        font-size: .9rem;
                        display: flex;
                        align-content: center;

                        &:first-child {
                            padding-left: 10px;
                            border-left: 1px solid #e9e9e9;
                        }

                        i {
                            color: #d7d7d7;
                            margin-left: 10px;
                            font-size: 1.2rem;
                        }
                    }

                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .main_arl {
        width: $conteiner_M;

        .card_parent {
            .course_card {
                width: 48%;
                margin: 1% !important;
                height: 430px;

                .card_content {
                    padding: 21px 15px;

                    .card_detail {
                        align-items: flex-start;
                        justify-content: flex-start;
                    }

                    .card_short_exp {
                        height: 80px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 900px) {

    .main_arl {
        width: 90%;

        .card_parent {
            .course_card {
                height: 415px;
            }
        }
    }
}

@media only screen and (max-width: 800px) {

    .main_arl {
        .card_parent {
            .course_card {
                .card_content {
                    .card_short_exp {
                        height: 100px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) {

    .main_arl {
        .card_parent {
            .course_card {
                width: 100%;
                height: 400px;
                margin: 2% 0% !important;

                .card_content {
                    .card_short_exp {
                        height: 60px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 570px) {

    .main_arl {
        .card_parent {
            .course_card {
                .card_content {
                    .card_short_exp {
                        height: 80px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {

    .main_arl {
        .card_parent {
            .course_card {

                height: 400px;

                .card_content {
                    .card_title {
                        font-size: 0.9rem;
                        margin-bottom: 10px;
                    }

                    .card_detail {

                        div {
                            font-size: 0.8rem;
                        }
                    }

                    .card_short_exp {
                        height: 100px;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}