@import '../partial/variable', '../partial/mixin', '../partial/modals';

.main_arl {
    width: $conteiner;
    display: flex;
    margin: auto;
    text-align: right;
    margin-top: 50px;
    direction: rtl;

    .card_parent {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        

        .course_card {
            border-radius: 10px;
            overflow: hidden;
            box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
            height: 430px;
            background-color: #fff;
            width: 32%;
            margin-bottom: 2%;
            margin-left: 2%;
            text-decoration: none;
            // background-color: red;

            &:nth-child(3n) {
                margin-left: 0;
            }


            .card_img {
                width: 100%;
                height: 190px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            .card_content {
                padding: 30px;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .card_title {
                    font-size: 1rem;
                    font-weight: bold;
                    margin-bottom: 20px;

                }

                .card_short_exp {
                    font-size: 1rem;
                    color: #858585;
                    margin-bottom: 20px;
                    text-align: justify;
                }

                .card_detail {
                    display: flex;
                    align-items: center;
                    color: #dadada;
                   

                    div {
                        margin-left: 10px;
                        font-size: .9rem;

                        &:first-child {
                            padding-left: 10px;
                            border-left: 1px solid #dadada;
                        }


                        i {
                            color: #dadada;
                            margin-left: 10px;
                            font-size: 1.2rem;
                            position: relative;
                            top: 3px;
                        }
                    }

                }
            }

            .card_footer {
                width: 100%;
                background-color: #F9F9F9;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 20px 15px;

                i {
                    margin-left: 10px;
                    font-size: 1.2rem;
                }

                P {
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.2rem;

                    span {
                        font-size: 0.9rem;
                        margin-right: 7px;
                    }

                    &:first-child {
                        color: $main_color;
                    }

                    &:last-child {
                        color: $green_price;
                    }
                }
            }
        }
    }
}