@import '../partial/variable', '../partial/mixin', '../partial/modals';

.main_ms {
    width: $conteiner;
    display: flex;
    margin: auto;
    text-align: right;
    padding-top: 50px;

    section {
        width: 100%;

        .title_sec {
            width: 100%;
            font-size: 1.1rem;
            box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
            height: 60px;
            line-height: 60px;
            padding-right: 20px;
            margin-bottom: 50px;
            background-color: red;
        }

        .masters {
            display: flex;
            flex-wrap: wrap;


            .master_card {
                position: relative;
                border-radius: 10px;
                overflow: hidden;
                height: 300px;
                width: 32%;
                margin-bottom: 2%;
                margin-right: 2%;
                text-decoration: none;
                display: flex;
                flex-direction: column;
                align-items: center;

                &:nth-child(3n) {
                    margin-right: 0;
                }

                .card_img {
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    width: 220px;
                    height: 220px;
                    border-radius: 50%;
                    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                    position: absolute;
                    z-index: 10;
                    top: 0;

                }

                .card_content {
                    position: absolute;
                    width: 100%;
                    height: 190px;
                    background-color: gray;
                    bottom: 0;
                    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;

                    .card_bg {
                        position: absolute;
                        left: 0px;
                        bottom: 0;
                    }

                    .CI_1 {
                        right: 0px;
                        top: 0;
                        left: auto;
                    }

                    p {
                        margin-top: 140px;
                        font-size: 1.3rem;
                        text-align: center;
                        color: black;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 1200px) {
    .main_ms{
        padding: 30px 50px 0;
    }
}

@media only screen and (max-width: 992px) {
    .main_ms{
        padding: 30px 50px ;
        
        section{
            .masters {
    
                .master_card {
                    
                    width: 46%;
                    margin-right: 8%;
                    &:nth-child(2n) {
                        margin-right: 0;
                    }
                    
                    &:nth-child(3n) {
                        margin-right: auto;
                    }
                }
            }   
        }
        
    }
}


@media only screen and (max-width: 550px) {
    .main_ms{
        padding: 30px 50px ;
        
        section{
            .title_sec {
                width: 80%;
                margin:0px auto 50px;
                }
            .masters {
              
                .master_card {
                    
                    width:80%;
                     margin: auto;
                     margin-bottom: 3%;
                    &:nth-child(2n) {
                        margin-right: auto;
                    }
                }
            }   
        }
        
    }
}



