@import '../partial/variable';
@import '../partial/mixin';
@import '../partial/user_dashboard';
@import '../partial/table';


.profile_temp .profile_content .content_field {
    margin-top: 0 !important;
    width: 500px;
    margin: auto;
}

.CP_main_field {
    width: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 50px;
    padding-bottom: 20px;

    form {
        width: 100%;

        .submit_btn {
            width: 100%;
            padding: 10px 0px;
            text-align: center;
            background-color: $main_color;
            color: white;
            font-size: 1rem;
            border-radius: 5px;
            border: 0;
            margin-top: 25px;
        }
    }
}

@media only screen and (max-width: 600px) {

    .profile_temp .profile_content .content_field {
        width: 100%;
    }
    
}

@media only screen and (max-width: 400px) {

    .CP_main_field {
        padding: 0px 20px;
    }

}