@import '../partial/variable';
@import '../partial/mixin';
@import '../partial/user_dashboard';
@import '../partial/table';

.profile_temp .profile_content .content_field {
    margin-top: 0px;
}

.table_body .text_limited {
    min-width: 160px;
    width: 160px !important;
}

.forum {

    .T_data {

        button {
            background-color: $pill_blue_light;
            border: none;
            color: $pill_blue_bold;
            border-radius: 3px;
            width: 30px;
            height: 30px;
        }
    }
}

.forum_detail_modal {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.473);
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    padding: 80px 0px;
    z-index: 200;
    display: none;

    .FD_content {
        width: 500px;
        margin: 0px auto;
        background-color: white;
        border-radius: 7px;
        box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.452);
        padding: 25px 0px;
        position: relative;

        .FD_info {
            width: 100%;
            padding: 0px 40px;
            direction: rtl;
            text-align: right;

            .block_content {
                flex-direction: column;
            }

            div {
                display: flex;
                align-content: center;
                justify-content: flex-start;
                margin-bottom: 20px;

                span {
                    color: #a4a0b0;
                    margin-left: 10px;
                    font-size: 0.9rem;
                    line-height: 28px;
                    flex-shrink: 0;
                }

                .time {
                    margin-right: 20px;
                }

                p,
                a {

                    color: #5A5A5A;
                    font-size: 0.9rem;
                    line-height: 28px;
                    margin: 0;
                    text-align: justify;

                    &.green {
                        color: $pill_green_bold;
                    }

                    &.red {
                        color: $red_price;
                    }

                    &.blue {
                        color: $main_color;
                    }
                }
            }

            button {
                width: 100%;
                padding: 10px 0px;
                text-align: center;
                background-color: $main_color;
                color: #fff;
                font-size: 1rem;
                border-radius: 5px;
                border: 0;
            }
        }
    }
}

@media only screen and (max-width: 1320px) {

    .table_body .T_header .T_title {
        &:nth-child(6) {
            min-width: 160px;
            width: 160px;
        }
    }

    .table_body .T_body .T_data {
        &:nth-child(6) {
            min-width: 160px;
            width: 160px;
        }
    }
}

@media only screen and (max-width: 1150px) {

    .profile_temp .profile_content .content_field .general_content {
        overflow: hidden;
    }

    .table_body {
        overflow: auto;

        &::-webkit-scrollbar {
            height: 5px;
        }

        &::-webkit-scrollbar-track {
            background: #ebebeb;
        }

        &::-webkit-scrollbar-thumb {
            background: rgb(197, 197, 197);
        }

        &::-webkit-scrollbar-thumb:hover {
            background: rgb(85, 94, 129);
        }

    }

    .table_body .T_header {
        width: 1000px;
    }

    .table_body .T_body {
        width: 1000px;
    }

}

@media only screen and (max-width: 550px) {

    .forum_detail_modal .FD_content {
        width: 90%;
    }

    .forum_detail_modal {
        padding: 50px 0px;
    }
}

@media only screen and (max-width: 420px) {

    .forum_detail_modal .FD_content .FD_info div {
        flex-direction: column;
    }

    .forum_detail_modal .FD_content .FD_info div .time {
        margin-right: 0;
        margin-top: 20px;
    }

    .forum_detail_modal .FD_content .FD_info div a {
        top: 0;
    }

    .forum_detail_modal .FD_content .FD_info button {
        padding: 6px 0px;
    }
}