@import '../partial/variable';
@import '../partial/mixin';
@import '../partial/user_dashboard';
@import '../partial/table';

.profile_temp .profile_content .content_field {
    margin-top: 0;
}

.edit_profile {
    direction: rtl;
    text-align: right;

    form {
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: flex-start;
        flex-wrap: wrap;

        .form_group {
            width: 48%;
            margin-left: 2%;
            position: relative;

            &:nth-child(2n) {
                margin: 0;
                margin-right: 2%;
            }

            .add_fav {
                position: absolute;
                left: 1px;
                top: 34px;
                width: 37px;
                height: 37px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: white;
                border-radius: 5px;
                color: #00ca60;
                cursor: pointer;
            }

            .add_fav_field {
                width: 100%;
                margin-top: 20px;
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;

                span {
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    padding: 5px 10px;
                    background-color: #f2f6f8;
                    border-radius: 5px;
                    margin-left: 10px;
                    margin-bottom: 10px;
                    font-size: .9rem;
                    color: #747474;
                    padding-left: 3px;

                    i {
                        color: #ff003b;
                        cursor: pointer;
                        height: 20px;
                        width: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        top: 1px;
                    }
                }
            }
        }

        .btn_group {
            width: 100%;
        }

        .birth_day {
            span {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0px 10px;
                color: #cfcfcf;
                font-size: 1.2rem;
            }

            div {
                display: flex;
                align-content: center;
                justify-content: center;
            }
        }

        button {
            padding: 10px 15px;
            text-align: center;
            background-color: #1dcdfe;
            color: #fff;
            font-size: 1rem;
            border-radius: 5px;
            border: 0;
            @include transition(0.1s, linear, 0s);

            &:hover {
                background-color: $MC_hover;
            }
        }
    }
}

@media only screen and (max-width: 700px) {

    .edit_profile form .form_group {
        width: 100%;
        margin-left: 0;
        margin-bottom: 25px !important;
    }

    .edit_profile form .form_group:nth-child(2n) {
        margin-right: 0;
    }

}

@media only screen and (max-width: 420px) {

    .profile_temp .profile_content .content_field .general_content {
        padding: 0px 20px;
    }

    .edit_profile form .birth_day span {
        margin: 0px 5px;
    }

    .edit_profile form button {
        width: 100%;
    }

}