@import '../partial/variable';
@import '../partial/mixin';
@import '../partial/user_dashboard';
@import '../partial/table';

.table_body .T_header .T_title {

    &:nth-child(5) {
        min-width: 150px;
    }

    &:nth-child(6) {
        min-width: 150px;
    }

}

.profile_temp .profile_content .content_field {
    margin-top: 0;
}

.main_sec_header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-left: 60px;

    button {
        border: none;
        background-color: transparent;
        color: #2e2e2e;
        font-size: .9rem;
        text-align: center;
        direction: rtl;
        border-radius: 5px;
        padding: 7px 18px;
        display: flex;
        align-items: center;
        @include transition(0.2s, linear, 0s);

        i {
            margin-left: 7px;
        }

        &:hover {
            background-color: rgb(238, 238, 238);
        }
    }

}

@media only screen and (max-width: 950px) {

    .main_sec_header {
        padding-left: 40px;
    }

}

@media only screen and (max-width: 520px) {

    .main_sec_header {
        padding-left: 20px;
    }

}

@media only screen and (max-width: 430px) {

    .profile_temp .profile_content .content_field .general_content {
        padding: 0px 20px;
    }

    .main_sec_header button {
        background-color:$main_color;
        border-radius: 50px;
        width: 30px;
        height: 30px;
        color: #fff;
        justify-content: center;
        padding: 0;

        &:hover{
            background-color: $main_color;
        }

        i{
            margin: 0;
        }

        span {
            display: none;
        }
    }

}