@import '../partial/variable';
@import '../partial/mixin';
@import '../partial/modals';
@import '../partial/uploader';

.main_cwd {
    width: 500px;
    margin: 50px auto;
    text-align: right;
    direction: rtl;

    .collaboration {
        .content_field {
            width: 100%;
            border-radius: 7px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            background-color: white;
            padding: 20px 0px;

            .CP_main_field {
                width: 100%;
                padding: 0px 40px;
                padding-bottom: 20px;

                .CP_title {
                    text-align: justify;
                    font-size: 0.9rem;
                    line-height: 26px;
                }

                form {
                    width: 100%;

                    .linear_lable_form {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: wrap;
                        margin-bottom: 25px;

                        .captcha_main_field {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                        }

                        label {
                            width: 100%;
                        }

                        button {
                            width: 40px;
                            height: 40px;
                            border: none;
                            background-color: transparent;
                        }

                        img {
                            width: 100px;
                            height: 40px;
                        }

                        .form_group {
                            width: 100%;
                            margin: 0;
                        }
                    }

                    .submit_btn {
                        width: 100%;
                        padding: 10px 0px;
                        text-align: center;
                        background-color: $main_color;
                        color: white;
                        font-size: 1rem;
                        border-radius: 5px;
                        border: 0;
                        margin-top: 25px;
                    }
                }
            }

        }
    }
}

@media only screen and (max-width: 550px) {

    .main_cwd {
        width: 90%;
    }

}

@media only screen and (max-width: 420px) {

    .main_cwd .collaboration .content_field .CP_main_field {
        padding: 0px 30px;
    }

}