.footer_wave {
    width: 100%;
    position: relative;
    z-index: 1;
    top: 1px;
}

.main_footer {
    width: 100%;
    padding: 40px 0px;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 0px -50px 110px -33px #00000025;

    .main_field {
        width: $conteiner;
        margin: auto;
        border-top: 1px solid rgb(231, 231, 231);
        margin-top: 50px;
        padding-top: 50px;
        display: flex;
        direction: rtl;
        text-align: right;

        .fast_access {
            width: 50% !important;
        }

        .footer_col {
            width: 70%;
            margin: 0px 20px;

            .enamad_field {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 100px;
                }
            }

            .contact_us {
                width: 100%;

                div {
                    display: flex;
                    margin-bottom: 20px;

                    &:last-child {
                        margin: 0;
                    }

                    p {
                        margin: 0;
                        color: #888888;
                        text-align: justify;
                        line-height: 28px;
                    }

                    i {
                        margin-left: 10px;
                        color: $main_color;
                        font-size: 1.3rem;
                        position: relative;
                        top: 3px;
                    }
                }
            }

            ul {
                list-style-type: none;
                padding-right: 20px;

                li {
                    margin-bottom: 20px;
                    position: relative;
                    display: flex;
                    align-items: center;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 10px;
                        height: 3px;
                        border-radius: 50px;
                        background-color: $main_color;
                        right: -20px;
                        opacity: 0.3;
                    }

                    &:hover {
                        &::after {
                            opacity: 0.7;
                        }
                    }

                    a {
                        color: rgb(97, 97, 97);
                    }
                }
            }

            header {
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                div {
                    position: relative;
                    width: 50px;
                    height: 50px;

                }

                span {
                    width: 35px;
                    height: 35px;
                    background-color: #1dcdfe80;
                    opacity: .3;
                    border-radius: 10px;
                    display: block;
                    top: 0px;
                    position: absolute;

                    &:first-child {
                        @include transform(rotate(332deg));
                        top: 10px;
                        right: 4px;
                    }
                }
            }

            &:last-child {
                margin: 0px;
            }

            .accent_header {
                margin-bottom: 20px;
            }
        }

        .about_us_field {
            width: 100%;

            img {
                width: 100px;
            }

            h2 {
                font-size: 1.4rem;
                font-weight: normal;
                color: #5c5c5c;
            }

            p {
                text-align: justify;
                font-size: 0.9rem;
                line-height: 26px;
                color: #6d6b85;
                margin-right: 13px;
            }

            div {
                display: flex;
                align-items: center;
            }

            .social_media {
                justify-content: center;

                a {
                    font-size: 1.7rem;
                    margin-right: 20px;
                    color: #67676787;
                    @include transition(0.2s , linear , 0s);

                    &:hover{
                        color: #22222287;
                    }

                    &:first-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .news_join {
        width: 600px;
        margin: auto;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        direction: rtl;
        text-align: center;

        h3 {
            color: rgb(85, 85, 85);
            margin-bottom: 20px;
        }

        p {
            line-height: 28px;
            color: #B7B7B7;
            margin-bottom: 20px;
        }

        form {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            input {
                border: 1px solid rgb(226, 226, 226);
                box-shadow: none;
                margin-left: 20px;
                color: rgb(73, 73, 73);

                &::placeholder {
                    color: rgb(207, 207, 207);
                }
            }

            button {
                border: 0;
                background: #1DCDFE;
                color: white;
                width: 160px;
                font-size: 1.2rem;
                height: 40px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                @include transition(0.1s , linear , 0s);

                &:hover{
                    background-color: $MC_hover;
                }
            }

        }

    }

    .copy_right {
        width: 100%;
        text-align: center;
        direction: rtl;
        margin-top: 30px;
        font-size: 0.9rem;

        p {
            color: #cbcbcb;
            margin: 0;
        }
    }
}

@media only screen and (max-width: 1200px) {

    .main_footer .main_field {
        width: $conteiner_M;
    }

    .main_footer .main_field .about_us_field h2 {
        font-size: 1.1rem;
    }

    .main_footer .main_field .about_us_field img {
        width: 70px;
    }

}

@media only screen and (max-width: 900px) {

    .main_footer .main_field {
        width: 90%;
        flex-wrap: wrap;
    }

    .main_footer .main_field .footer_col ,.main_footer .main_field .fast_access , .main_footer .main_field .enamad{
        width: 29% !important;
    }

    .main_footer .main_field .about_us_field {
        width: 100% !important;
        margin-bottom: 50px;
    }

    .main_footer .main_field .about_us_field h2 {
        font-size: 1.5rem;
    }

    .main_footer .main_field .about_us_field img {
        width: 100px;
    }

}

@media only screen and (max-width: 700px) {

    .main_footer .main_field .footer_col, .main_footer .main_field .fast_access, .main_footer .main_field .enamad {
        width: 100% !important;
        margin: 0 !important;
        margin-top: 60px !important;
    }

    .main_footer .main_field .about_us_field{
        margin-top: 0 !important;
    }

}

@media only screen and (max-width: 640px) {

    .main_footer .news_join {
        width: 90%;
    }

}

@media only screen and (max-width: 500px) {

    .main_footer .news_join h3 {
        font-size: 1.4rem;
    }

    .main_footer .news_join p {
        font-size: 0.9rem;
        padding: 0px 20px;
    }

    .main_footer .main_field .about_us_field p {
        margin-right: 0;
    }

    .main_footer {
        box-shadow: 0px -30px 110px -33px #00000025;
    }

}

@media only screen and (max-width: 450px) { 

    .main_footer .news_join form button {
        font-size: 1rem;
    }

    .main_footer .main_field .about_us_field h2 {
        font-size: 1.1rem;
    }

    .main_footer .main_field .about_us_field img {
        width: 80px;
    }

    
    .footer_wave {  
        top: 3px;
    }

}

@media only screen and (max-width: 400px) { 

    .main_footer .news_join form button {
        width: 120px;
    }

    .main_footer .news_join form input {
        margin-left: 7px;
    }

}