@import '../partial/checkbox';

.login_modal {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;

    .modal_field {
        width: inherit;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;

        .modal_content {
            width: 500px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.308);
            background-color: white;
            padding: 30px 0px;
            position: relative;

            .remove_RLR_modal {
                position: absolute;
                left: 30px;
                top: 30px;
                background-color: transparent;
                border: 0;
                font-size: 1.4rem;
                color: #5c5c5c;
            }

            .input_field {
                width: 100%;
                padding: 0px 30px;

                .linear_form_group {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    direction: rtl;
                    text-align: right;

                    button {
                        border: 0;
                        background-color: transparent;
                        margin: 0px 10px;
                        font-size: 1.5rem;
                    }

                    img {
                        height: 40px;
                    }

                }

                .form_group {
                    position: relative;
                    width: 100%;

                    i {
                        position: absolute;
                        top: 1px;
                        left: 2px;
                        background-color: white;
                        color: #dfdfdf;
                        font-size: 1.3rem;
                        width: 40px;
                        height: 38px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .extra_option {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    button {
                        border: 0;
                        background-color: transparent;
                        margin: 0px 10px;
                        font-size: 0.9rem;
                        margin: 0;
                        padding: 0;
                        color: rgb(121, 121, 121);
                    }

                    label {
                        direction: rtl;
                        margin: 0;
                    }

                    span {
                        font-size: 0.9rem;
                        color: rgb(121, 121, 121);
                    }
                }

                .submit_form {
                    width: 100%;
                    border: 0;
                    border-radius: 5px;
                    background-color: #666;
                    color: #fff;
                    text-align: center;
                    padding: 5px 0px;
                    font-size: 1.2rem;
                    margin: 20px 0px;
                }

                .register_link {
                    direction: rtl;
                    text-align: right;
                    font-size: 0.9rem;
                    color: #a0a0a0;
                    margin: 0;

                    button {
                        color: $main_color;
                        margin-right: 5px;
                        border: 0;
                        background-color: transparent;
                        margin: 0px 10px;
                        font-size: 0.9rem;
                        margin: 0;
                        padding: 0;
                    }
                }

            }

        }
    }
}

#registem,
#recovery,
#register_header,
#recovery_header {
    display: none;
}

@media only screen and (max-width: 550px) {

    .login_modal .modal_field .modal_content {
        width: 90%;
    }

    .login_modal .modal_field .modal_content .input_field .extra_option span {
        font-size: 0.8rem;
    }

    .login_modal .modal_field .modal_content .input_field .extra_option button {
        font-size: .8rem;
    }

}

@media only screen and (max-width: 500px) {

    .login_modal .modal_field .modal_content .input_field .extra_option {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex-direction: column;
    }

    .login_modal .modal_field .modal_content .input_field .extra_option button {
        margin-bottom: 10px;
    }

    .login_modal .modal_field .modal_content .input_field .register_link {
        font-size: 0.8rem;
    }

    .login_modal .modal_field .modal_content .input_field .submit_form {
        font-size: 1rem;
    }

}