.table_body {
    width: 100%;
    color: rgb(61, 61, 61);
    font-size: 0.9rem;

    .text_limited {
        min-width: 200px;
        width: 200px !important;
    }

    .T_header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid rgb(231, 231, 231);

        .T_title {
            width: 100%;
            text-align: center;
            padding: 15px 10px;

            &:nth-child(1) {
                min-width: 50px;
                width: unset;
            }
        }

    }

    .T_body {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid rgb(231, 231, 231);

        &:last-child {
            border-bottom: 0;
        }

        .T_data {
            width: 100%;
            text-align: center;
            padding: 15px 10px;

            span{
                display: none;
            }

            &:nth-child(1) {
                min-width: 50px;
                width: unset;
            }

            .pill {
                border-radius: 5px;
                width: max-content;
                margin: auto;
                font-size: 0.85rem;
                padding: 5px 10px;
                height: 32px;
                width: 130px;
                display: block;
            }

            .green_situation {
                background-color: $pill_green_light;
                color: $pill_green_bold;
                border: 1px solid $pill_green_bold;
            }

            .yellow_situation {
                background-color: $pill_yellow_light;
                color: $pill_yellow_bold;
                border: 1px solid $pill_yellow_bold;
            }

            .blue_situation {
                background-color: $pill_blue_light;
                color: $pill_blue_bold;
                border: 1px solid $pill_blue_bold;
            }
        }
    }
}

@media only screen and (max-width: 780px) {

    .profile_temp .profile_content .content_field .general_content {
        overflow: hidden;
    }

    .table_body {
        overflow: auto;

        &::-webkit-scrollbar {
            height: 5px;
        }
        
        &::-webkit-scrollbar-track {
            background: #ebebeb;
        }
        
        &::-webkit-scrollbar-thumb {
            background: rgb(197, 197, 197);
        }
        
        &::-webkit-scrollbar-thumb:hover {
            background: rgb(85, 94, 129);
        }

    }

    .table_body .T_header {
        width: 800px;
    }

    .table_body .T_body {
        width: 800px;
    }

}