$MF : main_font;
$LF : light_font;
$BF : bold_font;

$conteiner:1150px;
$conteiner_M:850px;

$main_color:#1DCDFE;
$accent_color:#21D0B3;
$body_background:#F6FBFF;
$green_price:#6FC341;
$red_price:#CC0000;