$MF : main_font;
$LF : light_font;
$BF : bold_font;

$conteiner:1150px;
$conteiner_M:850px;

$main_color:#1DCDFE;
$accent_color:#21D0B3;
$body_background:#eff8ff;
$green_price:#6FC341;
$red_price:#CC0000;

$pill_green_light:#EEF9F1;
$pill_green_bold:#5CC87A;

$pill_yellow_light:#FFF7EE;
$pill_yellow_bold:#FCB35A;

$pill_blue_light:#d9f8ff;
$pill_blue_bold:#1DCDFE;